*.bak
*.o
*.user.*
*.user
*.suo
*.sln
*.sdf
*.opensdf
ui_qdlg*.h
.qmake.stash
.DS_Store
Makefile
Makefile.Debug
Makefile.Release
libsimBullet-2-78.1.0.0.dylib
libsimBullet-2-78.1.0.dylib
libsimBullet-2-78.1.dylib
libsimBullet-2-78.dylib
libsimBullet-2-78.so
libsimBullet-2-78.so.1
libsimBullet-2-78.so.1.0
libsimBullet-2-78.so.1.0.0
libsimBullet-2-83.1.0.0.dylib
libsimBullet-2-83.1.0.dylib
libsimBullet-2-83.1.dylib
libsimBullet-2-83.dylib
libsimBullet-2-83.so
libsimBullet-2-83.so.1
libsimBullet-2-83.so.1.0
libsimBullet-2-83.so.1.0.0
libsimODE.1.0.0.dylib
libsimODE.1.0.dylib
libsimODE.1.dylib
libsimODE.dylib
libsimODE.so
libsimODE.so.1
libsimODE.so.1.0
libsimODE.so.1.0.0
libsimVortex.1.0.0.dylib
libsimVortex.1.0.dylib
libsimVortex.1.dylib
libsimVortex.dylib
libsimVortex.so
libsimVortex.so.1
libsimVortex.so.1.0
libsimVortex.so.1.0.0
libsimNewton.1.0.0.dylib
libsimNewton.1.0.dylib
libsimNewton.1.dylib
libsimNewton.dylib
libsimNewton.so
libsimNewton.so.1
libsimNewton.so.1.0
libsimNewton.so.1.0.0
libsimMujoco.1.0.0.dylib
libsimMujoco.1.0.dylib
libsimMujoco.1.dylib
libsimMujoco.dylib
libsimMujoco.so
libsimMujoco.so.1
libsimMujoco.so.1.0
libsimMujoco.so.1.0.0
debug
release
release_bullet2_78
release_bullet2_83
release_newton
release_vortex
release_ode
release_mujoco
object_script.*.Debug
object_script.*.Release
build-*

