*.bak
*.o
*.user.*
*.user
*.suo
*.sln
*.sdf
*.opensdf
ui_qdlg*.h
.qmake.stash
.DS_Store
Makefile
Makefile.Debug
Makefile.Release
libsimExtBullet-2-78.1.0.0.dylib
libsimExtBullet-2-78.1.0.dylib
libsimExtBullet-2-78.1.dylib
libsimExtBullet-2-78.dylib
libsimExtBullet-2-78.so
libsimExtBullet-2-78.so.1
libsimExtBullet-2-78.so.1.0
libsimExtBullet-2-78.so.1.0.0
libsimExtBullet-2-83.1.0.0.dylib
libsimExtBullet-2-83.1.0.dylib
libsimExtBullet-2-83.1.dylib
libsimExtBullet-2-83.dylib
libsimExtBullet-2-83.so
libsimExtBullet-2-83.so.1
libsimExtBullet-2-83.so.1.0
libsimExtBullet-2-83.so.1.0.0
libsimExtODE.1.0.0.dylib
libsimExtODE.1.0.dylib
libsimExtODE.1.dylib
libsimExtODE.dylib
libsimExtODE.so
libsimExtODE.so.1
libsimExtODE.so.1.0
libsimExtODE.so.1.0.0
libsimExtVortex.1.0.0.dylib
libsimExtVortex.1.0.dylib
libsimExtVortex.1.dylib
libsimExtVortex.dylib
libsimExtVortex.so
libsimExtVortex.so.1
libsimExtVortex.so.1.0
libsimExtVortex.so.1.0.0
libsimExtNewton.1.0.0.dylib
libsimExtNewton.1.0.dylib
libsimExtNewton.1.dylib
libsimExtNewton.dylib
libsimExtNewton.so
libsimExtNewton.so.1
libsimExtNewton.so.1.0
libsimExtNewton.so.1.0.0
libsimExtMujoco.1.0.0.dylib
libsimExtMujoco.1.0.dylib
libsimExtMujoco.1.dylib
libsimExtMujoco.dylib
libsimExtMujoco.so
libsimExtMujoco.so.1
libsimExtMujoco.so.1.0
libsimExtMujoco.so.1.0.0
debug
release
release_bullet2_78
release_bullet2_83
release_newton
release_vortex
release_ode
release_mujoco
object_script.*.Debug
object_script.*.Release
build-*

